.Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 190px 125px 0px 125px;
}
.parentContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}