
@font-face {
    font-family: "Myriad Bold Italic";
    src: url("../../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}

.anneedas{
  
    margin-bottom: 2%;
    font-family: 'Myriad Bold Italic';        
    color: #376dbdd8;
 
    
}
@media(max-width: 578px) {
    .anneedas{
        font-size: 20px;
    }
}