@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200;400&display=swap');
@font-face {
  font-family: "GilroyMedium";
  src: url("../../fonts/Gilroy-Medium.ttf");

}
@font-face {
  font-family: "GilroySemiBold";
  src: url("../../fonts/Gilroy-SemiBold.ttf");
}
@font-face {
font-family: "Myriad Semibold";
src: url("../../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
font-family: "Myriad Bold";
src: url("../../fonts/MYRIADPRO-BOLD.woff") format("woff");
}
@font-face {
font-family: "Myriad Bold Italic";
src: url("../../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}
@font-face {
font-family: "Gruppo";
src: url("../../fonts/Gruppo-Regular.ttf");
}
@font-face {
  font-family: "Futura";
  src: url("../../fonts/futur.ttf");
}
@font-face {
  font-family: "Futura bold italic";
  src: url("../../fonts/Futura\ Bold\ Italic\ font.ttf");
}
@font-face {
  font-family: "Futura bold";
  src: url("../../fonts/Futura\ Bold\ font.ttf");
}
@font-face {
  font-family: "Futura Medium italic";
  src: url("../../fonts/Futura\ Medium\ Italic\ font.ttf");
}
@font-face {
  font-family: "Futura Medium";
  src: url("../../fonts/futura\ medium\ bt.ttf");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #376DBD;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

table tr th{
  color: #376DBD;
font-family: 'Neuton', serif;
  font-size: 18px;
  
}

table tr td{
font-size: 15PX;
font-family: 'Neuton', serif;
}
table tr:hover{
  background-color: #f5f5f5;
}
table thead{
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: white; */
  background: whitesmoke;
}

#tableau{
  width: 100%;
  margin-bottom: 307px;
  font-family: 'Futura Medium';
  
}

.multiselect{
  width: 35%;
}
.tb_ft{
  margin-top: 2%;
  padding: 20px 50px 0px 50px;
  margin-bottom: 2%;
}
.tb_ft .bnfil{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tb_ft h2{ 
  margin-bottom: 2%;
  font-family: 'Myriad Bold Italic';
  color: #376dbdd8;
}
.tb_ft .filter_icon_on{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.tb_ft .filter_icon_off{
  width: 40px;
  cursor: pointer;
  height: 40px;
}
.filter{
  display: block;
}
.filter.active{
  display: none;
}
.filter .tp_usg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 3px;
  border: 1px solid #376dbdd8;
  background-color: #376dbdd8;
  box-shadow:  0px 5px 10px 0px #376dbd6b;

}
.filter .tp_usg .tp_usag_tit{
  color: rgb(255, 255, 255);
  font-family: 'Myriad Bold Italic';
}
.filter .tp_usg .tp_usag_input{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter .tp_usg .tp_usag_input .flx{
  margin: 10px;
 
}
.filter .tp_usg .tp_usag_input label{
  margin: 5px;
  font-family: 'Myriad Bold Italic';
  color: rgb(255, 255, 255);

}
.filter .grp_str{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #376dbdd8;
  background-color: #376dbdd8;
  box-shadow:  0px 5px 10px 0px #376dbd6b;
  
}
.filter .grp_str .grp_str_tit{
  font-family: 'Myriad Bold Italic';
  color: rgb(255, 255, 255);
  
}
.filter .grp_str .grp_str_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter .grp_str .grp_str_input .flx{
  margin: 10.5px;
}
.filter .grp_str .grp_str_input label{
  margin: 5px;
  font-family: 'Myriad Bold Italic';
  color: rgb(255, 255, 255);

}
.filter .dpgelmim{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding:5px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 3px;
  border: 1px solid #376dbdd8;
  background-color: #376dbdd8;
  box-shadow:  0px 5px 10px 0px #376dbd6b;

}
.filter .dpgelmim .dpgelmim_tit{
  font-family: 'Myriad Bold Italic';
  color: rgb(255, 255, 255);


}
.filter .dpgelmim .dpgelmim_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter .dpgelmim .dpgelmim_input .flx{
  margin: 10px;
}
.filter .dpgelmim .dpgelmim_input label{
  color: rgb(255, 255, 255);
  margin: 5px;
  font-family: 'Myriad Bold Italic';
}
.filter .dpdakhla{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  margin-top: 9px;
  margin-bottom: 9px;
  border: 1px solid white;
  border-radius: 3px;
  border: 1px solid #376dbdd8;
  background-color: #376dbdd8;
  box-shadow:  0px 5px 10px 0px #376dbd6b;
  
}

.filter .dpdakhla .dpdakhla_tit{
  font-family: 'Myriad Bold Italic';
  color: rgb(255, 255, 255);
}
.filter .dpdakhla .dpdakhla_input{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.filter .dpdakhla .dpdakhla_input .flx{
  margin: 10px;
}
.filter .dpdakhla .dpdakhla_input label{
  margin: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Myriad Bold Italic';  
}
input[type="checkbox"] {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  width: 23px;
  height: 23px;
}
